.smokes {
    display: flex;
    flex-direction: column;
    margin: 10px;

    .smoke {
        height: 40px;
        line-height: 40px;
        padding: 6px;
        display: flex;
        justify-content: space-between;
    }
}