$dayWidth: 56px;
$width: $dayWidth * 7;

::ng-deep .flatpickr-calendar.inline {
	font-size: 20px;
	margin: auto;
	width: $width;

	.dayContainer {
		width: $width;
		min-width: $width;
		max-width: $width;
	}

	.flatpickr-days {
		width: $width;
	}

	.flatpickr-day {
		max-width: $dayWidth;
		height: $dayWidth;
		line-height: $dayWidth - 12px;
	}
}
