<mat-tab-group mat-align-tabs="center" [disablePagination]="true">
    <mat-tab>
        <ng-template matTabLabel>
            <mat-icon>add_alarm</mat-icon>
        </ng-template>
        <ng-template matTabContent>
            <app-i-smoke></app-i-smoke>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <mat-icon>history</mat-icon>
        </ng-template>
        <ng-template matTabContent>
            <app-smokes-history></app-smokes-history>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <mat-icon>settings</mat-icon>
        </ng-template>
        <ng-template matTabContent>
            <app-settings></app-settings>
        </ng-template>
    </mat-tab>
</mat-tab-group>