<div class="width-determination bg">
	<div class="container">
		<nav mat-tab-nav-bar disablePagination [tabPanel]="panel" [backgroundColor]="'primary'">
			<a
				mat-tab-link
				*ngFor="let tab of tabs$ | async"
				[routerLink]="tab.route"
				routerLinkActive
				#rla="routerLinkActive"
				[routerLinkActiveOptions]="{ exact: true }"
				[active]="rla.isActive">
				<mat-icon>{{ tab.icon }}</mat-icon>
			</a>
		</nav>
		<mat-tab-nav-panel #panel class="content">
			<router-outlet></router-outlet>
		</mat-tab-nav-panel>
	</div>
</div>
