<div class="container">
	<!-- <div class="button-wrapper">
		<button mat-button class="smoke-button" (click)="inc()" [disabled]="loading$ | async" #button>I Smoke</button>
	</div>
	<div class="counter-container">
		<div class="counter" *ngIf="(loading$ | async) === false; else loader">
			<span class="count">{{ todayCount$ | async }}</span>
			<span class="last">Last Cigarete: {{ lastCigareteDiff$ | async | ago }} </span>
		</div>
		<ng-template #loader>
			<mat-spinner color="warn" diameter="40" />
		</ng-template>
	</div> -->
	<!-- <app-smoke-form [smoke]="emptySmoke" /> -->
	<app-smoke-label [(labels)]="labels"></app-smoke-label>
</div>
