<div class="container">
	<div class="button-wrapper">
		<button mat-button class="smoke-button" (click)="inc()" [disabled]="loading$ | async">
			I Smoke
		</button>
	</div>
	<div class="counter-container">
		<div class="counter" *ngIf="(loading$ | async) === false; else loader">
			<span class="count">{{ todayCount$ | async }}</span>
			<span class="last">Last Cigarete: {{ lastCigareteDiff$ | async | ago  }} </span>
		</div>
		<ng-template #loader>
			<mat-spinner color="warn" diameter="40"></mat-spinner>
		</ng-template>
	</div>
</div>