.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #01657D;
    border-left: 3px solid #01657D;
    box-sizing: border-box;

    .button-wrapper {
        background-color: #01657D;
        opacity: 0.5;
        height: 160px;
        width: 160px;
        border-radius: 50%;

        .smoke-button {
            height: inherit;
            width: inherit;
            border-radius: inherit;
            opacity: 1;
            border: 4px solid #01657D;
            font-size: 28px;
            font-weight: bolder;
        }
    }

    .counter {
        margin-top: 16px;
        line-height: 40px;
        color: red;
        font-size: 40px;
        font-weight: bolder;
    }
}