:host {
	width: 100%;
}

.smoke {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: whitesmoke;

	.index {
		padding-right: 6px;
	}

	.spacer {
		flex-grow: 1;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
		margin: 0 4px;
	}

	.actions {
		display: flex;
	}
}


::ng-deep .actions {
	.mat-icon-button {
		width: 24px;
		height: 24px;
		line-height: 24px;
	}
}