:host {
	width: 100%;
}

.smoke {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.actions {
	display: flex;
}

::ng-deep .actions {
	.mat-icon-button {
		width: 24px;
		height: 24px;
		line-height: 24px;
	}
}