<div class="smoke">
	<span class="index"> #{{ 10 > index ? '0' + index : index }}: </span>
	<span> {{ smoke.timestamp | date: 'HH:mm' }} </span>
	<span class="labels" [matTooltip]="smoke.labels | join">
		<span> {{ smoke.labels | join }} </span>
	</span>
	<span class="actions" *ngIf="selected">
		<button mat-icon-button #origin (click)="openEdit(origin)">
			<mat-icon fontSet="material-icons-outlined">playlist_add_circle</mat-icon>
		</button>
		<button mat-icon-button (click)="remove()" color="warn">
			<mat-icon>remove_circle_outline</mat-icon>
		</button>
	</span>
</div>