.container {
	width: 320px;
	height: 320px;
	background-color: #01657d;
	color: whitesmoke;
	border-radius: 20px;
	padding: 16px;
	display: flex;
	flex-direction: column;

	.header {
		font-size: 20px;
		padding-bottom: 16px;
		border-bottom: 1px solid whitesmoke;
		text-align: center;
	}

	.content {
		overflow-y: auto;
		flex-grow: 1;
	}
}

::ng-deep .container {

	.mat-list-base {
		.mat-list-item,
		.mat-list-option,
		.mat-list-item.mat-list-option {
			height: 32px;
			border-radius: 16px;

			.mat-list-item-content,
			.mat-list-item-content-reverse {
				padding: 0;
				padding-right: 8px;

				.mat-list-item-ripple {
					border-radius: 16px;
				}

				.mat-list-text {
					padding: 0;
					padding-left: 4px;
				}
			}
		}
	}
}