$height: calc(6 * min(400px, 100vw) / 7);

.container {
	display: flex;
	flex-direction: column;

	.header {
		height: 48px;
		line-height: 48px;
		font-size: 20px;
		border-bottom: 1px solid;
		text-align: center;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.dummy {
			width: 48px;
		}
	}

	.content {
		overflow-y: auto;
		flex-grow: 1;
		max-height: calc(100vh - 48px - 34px - 28px - $height - 48px - 16px);
	}
}

::ng-deep .container {
	.mat-mdc-list-base {
		.mat-mdc-list-item,
		.mat-mdc-list-option,
		.mat-mdc-list-item.mat-mdc-list-option {
			height: 32px;
			border-radius: 16px;

			.mat-mdc-list-item-content,
			.mat-mdc-list-item-content-reverse {
				padding: 0;
				padding-right: 8px;

				.mat-mdc-list-item-ripple {
					border-radius: 16px;
				}

				.mat-mdc-list-text {
					padding: 0;
					padding-left: 4px;
				}
			}
		}
	}
}
