.container {
	.mat-mdc-form-field {
		width: 100%;
	}
}

.option {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	height: 32px;

	.label {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
