.container {
	width: 200px;
	height: 200px;
	padding: 16px;
	border-radius: 16px;
	background-color: #01657d;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.header {
		margin: 0 auto;
		display: flex;
		align-items: center;
	}

	.fields {
		display: flex;
		flex-direction: column;
	}

	.actions {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
