<div class="container">
	<div class="header">
		<span class="title"> Edit Smoke </span>
		<span class="actions">
			<button mat-icon-button [color]="'warn'" (click)="delete(smoke)">
				<mat-icon>delete</mat-icon>
			</button>
			<button mat-icon-button (click)="cancel()">
				<mat-icon>close</mat-icon>
			</button>
		</span>
	</div>
	<div class="fields">
		<app-smoke-time class="field" [(timestamp)]="smoke.timestamp" />
		<app-smoke-label class="field" [(labels)]="smoke.labels" />
	</div>
	<div class="actions">
		<button mat-stroked-button (click)="edit(smoke)">Edit</button>
	</div>
</div>
