<mat-tab-group>
  <mat-tab>
    <ng-template matTabLabel> <mat-icon>phone</mat-icon> </ng-template>
    <ng-template matTabContent>
      <div class="verify-row">
        <mat-form-field>
          <input matInput placeholder="enter phone number" #phone />
        </mat-form-field>
        <button mat-button (click)="sendSMS(phone.value)" id="sign-in-button"> Verify Phone </button>
        <button mat-button (click)="setTestPhone()"> TEST </button>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab disabled>
    <ng-template matTabLabel> <mat-icon>sms</mat-icon> </ng-template>
    <ng-template matTabContent>
      <div class="verify-row">
        <mat-form-field>
          <input matInput placeholder="enter code" #code />
        </mat-form-field>
        <button mat-button (click)="verifyCode(code.value)"> Verify Code </button>
        <button mat-button (click)="setTestCode()"> TEST </button>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
