// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'sass:map';
@use '@angular/material' as mat;

@use './app/app-theme' as app;
@use './app/features/smokes-history/smokes-list/smokes-list-theme' as smokes-list;
@use './app/features/i-smoke/i-smoke-theme' as i-smoke;
@use './app/features/smokes-history/smoke-record/smoke-record-theme' as smoke-record;

@use './flatpickr-theme' as flatpickr;
@use './flatpickr.scss' as flat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$palette: (
    50 : #e1edef,
    100 : #b3d1d8,
    200 : #80b2be,
    300 : #4d93a4,
    400 : #277c91,
    500 : #01657d,
    600 : #015d75,
    700 : #01536a,
    800 : #014960,
    900 : #00374d,
    A100 : #80d3ff,
    A200 : #4dc2ff,
    A400 : #1ab0ff,
    A700 : #01a7ff,
    contrast: (
        50 : #0f0f0f,
        100 : #0f0f0f,
        200 : #0f0f0f,
        300 : #0f0f0f,
        400 : #fafafa,
        500 : #fafafa,
        600 : #fafafa,
        700 : #fafafa,
        800 : #fafafa,
        900 : #fafafa,
        A100 : #0f0f0f,
        A200 : #0f0f0f,
        A400 : #0f0f0f,
        A700 : #fafafa,
    )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$counter-smoke-primary: mat.define-palette($palette);
$counter-smoke-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$counter-smoke-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$counter-smoke-theme: mat.define-dark-theme(
	(
		color: (
			primary: $counter-smoke-primary,
			accent: $counter-smoke-accent,
			warn: $counter-smoke-warn,
		),
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($counter-smoke-theme);

@include smokes-list.theme($counter-smoke-theme);
@include i-smoke.theme($counter-smoke-theme);
@include app.theme($counter-smoke-theme);
@include flatpickr.theme($counter-smoke-theme);
@include smoke-record.theme($counter-smoke-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	user-select: none;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	border: 1px solid;
}

@mixin scroller($theme) {
	// Get the color config from the theme.
	$color-config: mat.get-color-config($theme);

	// Get the primary color palette from the color-config.
	$primary-palette: map.get($color-config, 'primary');

	::-webkit-scrollbar-thumb {
		background: mat.get-color-from-palette($primary-palette, 500);
		border-color: mat.get-color-from-palette($primary-palette, '500-contrast');
	}

	::-webkit-scrollbar-track {
		border-color: mat.get-color-from-palette($primary-palette, '500-contrast');
	}

	::-webkit-scrollbar {
		background-color: mat.get-color-from-palette($primary-palette, 500);
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: mat.get-color-from-palette($primary-palette, 900);
	}
}

@include scroller($counter-smoke-theme);

@mixin bg($color) {
	background-color: $color;
	text-align: center;
}

.success {
	@include bg(#dcf8c6);
	color: black;
}

.error {
	@include bg(#f44336);
}

.warn {
	@include bg(#ff8100);
}

.info {
	@include bg(#1976d2);
}

.bg {
	@include bg(rgb(44 217 225 / 25%));
}

app-top-bar,
app-auth {
	height: 100%;
}

.day-count {
	position: absolute;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	pointer-events: none;
	font-size: 12px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	top: 34px;
	left: 19px;
}

@mixin day-count($theme) {
	// Get the color config from the theme.
	$color-config: mat.get-color-config($theme);

	// Get the primary color palette from the color-config.
	$primary-palette: map.get($color-config, 'primary');

	.day-count {
		color: mat.get-color-from-palette($primary-palette, '500-contrast');
		background-color: mat.get-color-from-palette($primary-palette, 500);
	}
}

@include day-count($counter-smoke-theme);
